# files generated during build
*.app
*.dylib
*.jar
*.o
*.so
PhylipExec/
exe/
# miscellaneous generated or constructed files
*_
CVS/
contrast0
fork
outfile
outtree
# executables
clique
codml
consense
contml
contrast
dnacomp
dnadist
dnainvar
dnaml
dnamlk
dnamove
dnapars
dnapenny
dollop
dolmove
dolpenny
drawgram
drawtree
factor
fitch
gendist
kitsch
mix
move
neighbor
pars
penny
proml
promlk
protdist
protpars
restdist
restml
retree
seqboot
threshml
treedist
