# files generated during build
*.o
*.so
*.dylib
PhylipExec
exe
*.jar
*.app
# miscellaneous generated or constructed files
CVS
fork
*_
outfile
outtree
# executables
clique
codml
consense
contml
contrast
dnacomp
dnadist
dnainvar
dnaml
dnamlk
dnamove
dnapars
dnapenny
dollop
dolmove
dolpenny
drawgram
drawtree
factor
fitch
gendist
kitsch
mix
move
neighbor
pars
penny
proml
promlk
protdist
protpars
restdist
restml
retree
seqboot
threshml
treedist
